<form action="/songs" method="POST">
  <label for="song">Song Name</label>
  <input type="text" name="name">

  <label for="artist">Artist</label>
  <select name="artist">
      <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%=artist.name %></option>
    <% end %>
  </select>

  <label for="genre">Choose A Genre</label>

    <% @genres.each do |genre| %>
    <input type="checkbox" name="song[song_genres][genre_ids][]"
      value="<%= genre.id %>" id="<%= genre.id %>"><%= genre.name %>
      </input>
      <% end %>


    <input type="submit" name="Create A New Song">
</form>
